/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* scroll suave */
}

/* Fonte */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7F8;
    color: #1C1C1C;
}

section {
    border-bottom: 2px solid #abccc2;
}

header {
    background: #0E5E4D;
    /* Cor de fundo do cabeçalho */
    padding: 1rem 5%;
    /* Espaçamento interno do cabeçalho */
    position: sticky;
    /* Fixa o cabeçalho no topo da página */
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    animation: slide 0.6s ease-out;
    /* Animação de deslizamento */
    transition: box-shadow 0.3s ease;
}

header .logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 1.4em;
    color: white;
}

.logo h3 span {
    color: black;
}

header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Animação de deslizamento */
/* A animação faz com que o cabeçalho deslize para baixo quando a página é carregada */
@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#menu {
    color: white;
    display: none;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao img {
    width: 3em;
}

.navegacao ul {
    display: flex;
    gap: 1.5em;
}

.navegacao a {
    color: #F6F7F8;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #44BBA4;
}

.btn-1 {
    cursor: pointer;
    width: 9em;
    height: 2.1em;
    color: #0E5E4D;
    border-radius: 10px;
    transition: 0.2s ease;
}

.btn-1:hover {
    color: white;
    background: #44BBA4;
    transform: scale(1.05);
}

.btn-1::before {
    content: '\f007';
    /* Unicode do ícone de usuário da Font Awesome */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    /* necessário para ícones sólidos */
    margin-right: 8px;
    color: #0E5E4D;
}

/*inicio da Section 1*/
.containerHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55em;
}

.containerHome h1 {
    color: #0E5E4D;
    font-size: 3em;
}

.containerHome h2 {
    color: #388E3C;
    padding: 1em 0;
}

.btn-2 {
    width: 20em;
    padding: 1em;
    font-weight: bold;
    background: #0E5E4D;
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

.btn-2:hover {
    background: #094236;
}

.containerPlaneta {
    width: 20%;
    position: relative;
    padding-right: 40em;
    transform: translateX(-50%);
    animation: slideLeft 1.8s ease forwards;
}

.planeta {
    width: 500px;
    animation: slidePlaneta 1.2s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.home {
    overflow: hidden;
    /*overflow = transbordamento (conteúdo que sai para fora da caixa), hidden = esconde o que estiver para fora dos limites do elemento*/
    animation: fadeTexto 1.2s ease forwards;
    /*forwards Isso diz:
“Quando a animação acabar, deixe o estilo final aplicado (não volte pro começo)”.*/
    animation-delay: 1s;
    opacity: 0;
    position: relative;
    /*relative Move o elemento em relação à posição original dele sem sair do fluxo da página.*/
    z-index: 2;
    padding-right: 20em;

}

/* Inicio da animação da img do planeta*/
@keyframes slideLeft {
    from {
        left: 50%;
        transform: translateX(-50%);
        /*translateX(-50%) → Move para a esquerda 50% da própria largura*/
    }

    to {
        left: 10%;
        transform: translateX(0);
    }
}

@keyframes slidePlaneta {
    to {
        opacity: 1;
    }
}

@keyframes fadeTexto {
    to {
        opacity: 1;
        transform: translateY(0);
        /*translateY(0) → Não move nada, ou seja, o elemento fica na posição original*/
    }

    /*Fim da animação da img do planeta*/
}

/*Fim da Section 1*/

/*Inicio da sessão sobre o projeto */
.sobre {
    background: linear-gradient(180deg, #e6f4ea8f, #d0e8d031), url(img/Fundo_sobre.png);
    background-color: #f0fdf4;
    /* verde suave */
    padding: 80px 20px;
    text-align: center;
    border-bottom: 4px solid #a7f3d0;
    /* faixa separadora sutil */
}

.containerSobre {
    max-width: 800px;
    margin: 0 auto;
}

.sobre h2 {
    font-size: 2.5em;
    color: #065f46;
    /* verde escuro */
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1.2em;
    color: #065f46;
    line-height: 1.6;
}

/*Fim  da sessão sobre o projeto*/

/*Inicio da Section 2 */
.containerCategorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

.containerCategorias h1 {
    font-size: 2.5em;
    color: #2E7D32;
    padding-top: 1em;
}

.categorias {
    display: flex;
    text-align: center;
    padding: 3em;
    gap: 10em;
    flex-wrap: wrap;
}

.card {
    width: 10rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card i {
    font-size: 5em;
    padding-bottom: 25%;
    color: white;
}

.card p {
    font-weight: 700;
}

.Livros {
    background-color: #A5D6A7;
}

.Livros a {
    color: #2E7D32;
}

.Roupas {
    background-color: #81D4FA;
}

.Roupas a {
    color: #424242;
}

.Brinquedos {
    background-color: #FBC02D;
}

.Brinquedos a {
    color: #424242;
}

.Eletrônicos {
    background-color: #333030;
}

.Eletrônicos a {
    color: #2E7D32;
}

.Outros {
    background-color: #9e8c6d;
}

.Outros a {
    color: white;
}

/* Inico da Carrousel */
.mySwiperCategorias {
    width: 100%;
    padding: 1em 0 0 5em;
}

/*Fim do Carrousel*/

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Fim da Section 2*/

/*Inicio da Section 3*/
.containerDestaque {
    width: 100%;
    height: auto;
    padding: 0 15em 5em;
    text-align: center;
}

.containerDestaque h1 {
    font-size: 2.5em;
    color: #2D6A4F;
    padding-top: 1em;
}

.itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* força 3 colunas */
    gap: 2em;
    padding: 5em 0 0 9em;
}

.box {
    width: 15em;
    height: 15em;
    padding-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.2em;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    /*translateY move o elemento na vertical (eixo Y). 30px significa que o elemento vai descer 30 pixels a partir da sua posição original.*/
    transition: opacity 1s ease, transform 1s ease;
    /*ease é a função de tempo (faz a transição começar devagar, acelerar no meio e desacelerar no final).*/
    border-radius: 15px;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
    /*scale() é uma função de transformação do CSS. O número dentro dos parênteses representa a escala do elemento. 1.05 = aumenta 5% (fica 1.05x maior).*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #f0f7f4, #ffffff);
}

.box.appear {
    opacity: 1;
    transform: translateY(0);
}

.nome {
    color: #22543d;
}

.cidade {
    color: #4a5568;
}

.tipo {
    color: #2b6cb0;
}

span {
    font-weight: 800;
}

.itens img {
    width: 150px;
    border-radius: 15px;
}

/*Fim da Section 3*/

/*Inicio da Section 4*/
.sustentabilidadeImg {
    background: linear-gradient(180deg, #e6f4ea4f, #d0e8d031), url(img/Fundo_sustentabilidade.png);
    background-position: center center;
    background-attachment: fixed;
    border-bottom: 4px solid #4e504f;
}

.containerChamada {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;

}

.chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chamada p {
    font-size: 1.1em;
    max-width: 700px;
    line-height: 1.5em;
    padding: 5em 0;
}

.cta {
    width: 20em;
    height: 2em;
    border: none;
    border-radius: 7px;
    font-weight: 800;
    background-color: #2c5f2d;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.cta:hover {
    background-color: #244d25;
    transform: scale(1.05);
}

.titulo {
    text-align: center;
    font-size: 3em;
    color: #2E7D32;
    text-transform: uppercase;
}

/*Fim da Section 4*/

/*Inicio do Roda pe*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: #065f46;
    /* Verde escuro */
    color: #fff;
}

footer .logo {
    display: flex;
    align-items: center;
}

footer a {
    color: white;
}

footer img {
    width: 4em;
}

footer h3 span {
    color: black;
}

.links {
    display: flex;
    gap: 40em;
    padding: 3em 0;
    font-size: 1.2em;
}

.links ul a {
    color: #a7f3d0;
}

.links ul a:hover {
    color: #ffffff;
}

.rapidos ul {
    display: flex;
    gap: 3em;
}

.sociais ul {
    display: flex;
    gap: 3em;
}

/*Fim do Roda pe*/




/* ========== SMARTPHONES (max-width: 768px) ========== */
@media (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        right: 1em;
    }

    .navegacao .logo img {
        width: 2.3em;
    }

    .navegacao .logo h3 {
        font-size: 1.1em;
    }

    #itens ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0E5E4D;
        /* ou outra cor de fundo */
        width: 100%;
        padding: 1em;
        position: absolute;
        top: 100%;
        /* colado embaixo do menu */
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;

        /* Transição suave */
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.9s ease, opacity 0.9s ease;
    }

    #itens ul.show {
        display: flex;
        /* só aparece quando tiver a classe "show" */
        max-height: 500px;
        /* valor grande o suficiente pro conteúdo caber */
        opacity: 1;
    }

    .containerHome {
        height: 30em;
    }

    .containerPlaneta {
        display: none;
    }

    .home {
        padding: 2em;
        overflow: none;
        animation: none;
        opacity: 0;
        /* começa invisível até animar */
        display: flex;
        flex-direction: column;
        text-align: center;
        animation-delay: 1s;
        animation: fadeTexto 1.5s ease forwards;
    }

    @keyframes fadeTexto {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .home h1 {
        font-size: 1.9em;
    }

    .home h2 {
        font-size: 1.2em;
    }

    .containerCategorias h1 {
        font-size: 2.2em;
        text-align: center;
    }

    .categorias {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        /* Faz o scroll encaixar horizontalmente */
        scroll-behavior: smooth;
        gap: 1em;
    }

    .mySwiperCategorias {
        width: 100%;
        padding: 1em 0;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex: 0 0 auto;
        min-width: 160px;
        scroll-snap-align: start;
        /*O scroll-snap-align diz como o item deve se "encaixar" no contêiner pai quando a rolagem para.*/
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .categorias::-webkit-scrollbar {
        display: none;
    }

    .containerDestaque {
        padding: 0;
        height: 65em;
    }

    .containerDestaque h1 {
        font-size: 2em;
    }

    .itens {
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr; /* 1 item por linha */
        padding: 1em;
    }

    .box:nth-child(n+4) {
        /*nth-child() é uma função do CSS que permite selecionar elementos com base na sua ordem.*/
        display: none !important;
        /* esconde do 4º em diante */
    }

    .box {
        height: 15em;
    }

    .titulo {
        font-size: 2em;
    }

    .containerChamada {
        height: 25em;
    }

    .containerChamada p {
        font-size: 1.1em;
        padding: 2em;
    }

    footer {
        padding: 1em;
        text-align: center;
    }

    footer .logo img {
        width: 2.8em;
    }

    footer .logo h3 {
        font-size: 1.1em;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 1em;
        align-items: center;
    }
}

/* ========== TABLETS (769px - 1024px) ========== */
@media (min-width: 769px) and (max-width: 1024px) {
    .containerPlaneta {
        display: none;
    }

    .categorias {
        justify-content: center;
    }



    .home {
        padding: 2em;
        overflow: none;
        animation: none;
        opacity: 0;
        /* começa invisível até animar */
        display: flex;
        flex-direction: column;
        text-align: center;
        animation-delay: 1s;
        animation: fadeTexto 1.5s ease forwards;
    }

    .containerDestaque {
        padding: 0 2em;
        height: auto;
    }

    .itens {
        grid-template-columns: repeat(2, 1fr); /* força 2 colunas */
        padding: 2em;
        justify-content: center;
        padding-bottom: 2em;
    }

    .box {
        display: block !important;
    }

    footer {
        padding: 1em;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 1em;
        align-items: center;
    }

}

/* ======== DESKTOP: acima de 1025px ======== */
@media (min-width: 1025px) {
    .box {
        display: block;
    }
}