* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7F8;
    color: #1C1C1C;
}

header {
    background: #0E5E4D;
    padding: 2rem 5%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    animation: slide 0.6s ease-out;
}

@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao ul {
    display: flex;
    gap: 1.5em;
}

.navegacao a {
    color: #F6F7F8;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #44BBA4;
}

.btn-1 {
    cursor: pointer;
    width: 9em;
    height: 2.1em;
    color: #0E5E4D;
    border-radius: 10px;
    transition: 0.2s ease;
}

.btn-1:hover {
    transform: scale(1.05);
}

.btn-1::before {
    content: '\f007';  /* Unicode do ícone de usuário da Font Awesome */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900; /* necessário para ícones sólidos */
    margin-right: 8px;
    color: #0E5E4D;
}

.containerHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65vh;
}

.containerHome h1 {
    color: #0E5E4D;
    font-size: 3em;
}

.containerHome h2 {
    color: #388E3C;
    padding: 1em 0;
}

.btn-2 {
    width: 20em;
    padding: 1em;
    font-weight: bold;
    background: #0E5E4D;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-2:hover {
    background: #094236;
}

.containerPlaneta {
    width: 20%;
    position: relative;
    padding-right: 40em;
    transform: translateX(-50%);
    animation: slideLeft 1.8s ease forwards;
}

.planeta {
    width: 500px;
    animation: slidePlaneta 1.2s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.home {
    overflow: hidden;
    animation: fadeTexto 1.2s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    position: relative;
    z-index: 2;
    padding-right: 20em;
    
}

@keyframes slideLeft {
  from {
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    left: 10%;
    transform: translateX(0);
  }
}

@keyframes slidePlaneta {
  to {
    opacity: 1;
  }
}

@keyframes fadeTexto {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerCategorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #F5F5F5;
}

.containerCategorias h1 {
    font-size: 2.5em;
    color: #2E7D32;
}

.categorias {
    display: flex;
    text-align: center;
    padding-top: 3em;
    gap: 10em;
}

.card {
    border: 1px solid red;
    width: 10rem;
    height: 10rem;
}