* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: #F6F7F8;
    color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Form Container */
form {
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Form Heading */
form h2 {
    color: #0E5E4D;
    font-size: 2em;
    margin-bottom: 0.5em;
}

form p {
    font-size: 1.5em;
    color: #388E3C;
    margin-bottom: 1.5em;
}

/* Labels */
form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    color: #1C1C1C;
    font-weight: bold;
}

/* Inputs */
form input[type="text"],
form select {
     width: 100%;
    padding: 0.8em;
    margin-bottom: 1.5em;
    border: 1px solid #ABCCC2;
    border-radius: 10px;
    font-size: 1em;
    color: #1C1C1C;
    background-color: #fff; /* garante fundo branco igual aos inputs */
    appearance: none; /* remove o estilo padrão do select */
}

form input[type="text"]:focus,
form select:focus {
    border-color: #0E5E4D;
    outline: none;
}

/* Submit Button */
form input[type="submit"] {
    background-color: #0E5E4D;
    color: #FFFFFF;
    padding: 0.8em 2em;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form input[type="submit"]:hover {
    background-color: #094236;
    transform: scale(1.05);
}
